<h1>Sprite Maker</h1>

<form>
  <label for="sprite-picker">Sprite List</label>
  <select name="sprite-picker" [(ngModel)]="currentSpriteId" (ngModelChange)="onSpritePickerChange($event)">
    <option *ngFor="let sprite of sprites" value="{{ sprite.id }}">{{ sprite.name }}</option>
  </select>
  <button (click)="createSprite()">Create Sprite</button>
  
  <label for="sprite-name">Name</label>
  <input type="text" name="sprite-name" [(ngModel)]="currentSpriteName"/>
  <button (click)="renameSprite(currentSpriteId, currentSpriteName)">Rename Sprite</button>
  <button (click)="deleteSprite(currentSpriteId)">Delete Sprite</button>
</form>

<button disabled id="selected-color-display" [style.background-color]="selectedColor" class="input-color-button color-button"></button>
<div class="selected-color">
  <input type="text" [(ngModel)]="selectedColor"/>
</div>
<button class="black-color-button color-button" (click)="selectedColor = '#000'"></button>
<button class="yellow-color-button color-button" (click)="selectedColor = '#FF0'"></button>
<button (click)="saveSprite()">Save Sprite</button>

<table>
  <tr *ngFor="let x of edgeCount">
    <td *ngFor="let y of edgeCount" [style.background-color]="pixelColors[x * EDGE + y]" (dragover)="setPixelColor(x,y)" (click)="setPixelColor(x,y)" (drag)="setPixelColor(x,y)"></td>
  </tr>
</table>

<pre>
{{getVerilog()}}
</pre>