<h1>Sprite Maker</h1>
<form>
  <label for="sprite-picker">Sprites</label>
  <select name="sprite-picker" [(ngModel)]="currentSpriteId" (ngModelChange)="onSpritePickerChange($event)">
    <option *ngFor="let sprite of sprites" value="{{ sprite.id }}">{{ sprite.name }}</option>
  </select>
  <button (click)="createSprite()">Create Sprite</button>
  <button (click)="copySprite()">Copy Sprite</button>
</form>

<form>
  <label for="sprite-name">Name</label>
  <input type="text" name="sprite-name" [(ngModel)]="currentSpriteName" />
  <button (click)="renameSprite(currentSpriteId, currentSpriteName)">Rename Sprite</button>
  <button (click)="deleteSprite()">Delete Sprite</button>
</form>

<p>{{ status }}</p>

<button disabled id="selected-color-display" [style.background-color]="selectedColor" class="input-color-button color-button"></button>
<div class="selected-color">
  <input type="text" [(ngModel)]="selectedColor" />
</div>
<button class="black-color-button color-button" (click)="selectedColor = '#000'"></button>
<button class="white-color-button color-button" (click)="selectedColor = '#FFF'"></button>
<button class="yellow-color-button color-button" (click)="selectedColor = '#FF0'"></button>
<button class="blue-color-button color-button" (click)="selectedColor = '#00F'"></button>
<button class="magenta-color-button color-button" (click)="selectedColor = '#F0F'"></button>
<button class="light-orange-color-button color-button" (click)="selectedColor = '#FBA'"></button>
<button (click)="savePixels()">Save Pixels</button>
<button (click)="rotatePixels()">Rotate Pixels</button>
<button (click)="shiftPixelsLeft()">&larr;</button>
<button (click)="shiftPixelsUp()">&uarr;</button>
<button (click)="shiftPixelsDown()">&darr;</button>
<button (click)="shiftPixelsRight()">&rarr;</button>

<table>
  <tr *ngFor="let row of edgeCount">
    <td *ngFor="let col of edgeCount" [style.background-color]="getPixelColor(currentPixels,row,col)" (mouseenter)="setPixelColor($event,currentPixels,row,col)"
      (mousedown)="setPixelColor($event,currentPixels,row,col)"></td>
  </tr>
</table>

<button (click)="codeShowing = 'SPRITE'">Sprite Code</button>
<button (click)="codeShowing = 'ONE_SPRITE_MODULE'">One Sprite Module Code</button>
<button (click)="codeShowing = 'TWO_SPRITE_MODULE'">Two Sprite Module Code</button>
<button (click)="codeShowing = 'CHAR_SPRITE_MODULE'">Character Sprite Module Code</button>

<div [hidden]="codeShowing != 'SPRITE'">
  <h2>Current Sprite</h2>
  <pre>{{ getSpriteVerilog(currentPixels, 0, 16) }}</pre>
</div>

<div [hidden]="codeShowing != 'ONE_SPRITE_MODULE'">
  <h2>One Sprite Module</h2>

  <form>
    <label for="one-sprite-module-name">Module Name</label>
    <input name="one-sprite-module-name" type="text" [(ngModel)]="oneSpriteModuleName" />
    <label for="one-sprite-module-sprite-picker">Sprite</label>
    <select name="one-sprite-module-sprite-picker" [(ngModel)]="oneSpriteModuleSpriteId" (ngModelChange)="onOneSpriteModuleSpriteChange($event)">
      <option *ngFor="let sprite of sprites" value="{{ sprite.id }}">{{ sprite.name }}</option>
    </select>
  </form>

<pre>module {{ oneSpriteModuleName }} (
    input clk,
    input reset,
    input inner_graphics,
    input [10:0] hcount,
    input [9:0] vcount,
    input [10:0] x,
    input [9:0] y,
    output reg [11:0] pixel
    );

    always @(posedge clk) begin
{{ getSpriteVerilog(oneSpriteModuleSpritePixels, 8, 16) }}
    end
endmodule</pre>
</div>

<div [hidden]="codeShowing != 'TWO_SPRITE_MODULE'">
  <h2>Two Sprite Module</h2>

  <form>
    <label for="two-sprite-module-name">Module Name</label>
    <input name="two-sprite-module-name" type="text" [(ngModel)]="twoSpriteModuleName" />
    <label for="inner-sprite-picker">Inner Sprite</label>
    <select name="inner-sprite-picker" [(ngModel)]="innerSpriteId" (ngModelChange)="onInnerSpriteChange($event)">
      <option *ngFor="let sprite of sprites" value="{{ sprite.id }}">{{ sprite.name }}</option>
    </select>
    <label for="outer-sprite-picker">Outer Sprite</label>
    <select name="outer-sprite-picker" [(ngModel)]="outerSpriteId" (ngModelChange)="onOuterSpriteChange($event)">
      <option *ngFor="let sprite of sprites" value="{{ sprite.id }}">{{ sprite.name }}</option>
    </select>
  </form>

  <pre>module {{ twoSpriteModuleName }} (
    input clk,
    input reset,
    input inner_graphics,
    input [10:0] hcount,
    input [9:0] vcount,
    input [10:0] x,
    input [9:0] y,
    output reg [11:0] pixel
    );

    always @(posedge clk) begin
        if (inner_graphics) begin
{{ getSpriteVerilog(innerSpritePixels, 12, 16) }}
        end else begin
{{ getSpriteVerilog(outerSpritePixels, 12, 16) }}
        end
    end
endmodule</pre>
</div>

<div [hidden]="codeShowing != 'CHAR_SPRITE_MODULE'">
  <h2>Character Sprite Module</h2>

  <form>
    <label for="char-sprite-module">Module Name</label>
    <input name="char-sprite-module-name" type="text" [(ngModel)]="charSpriteModuleName" />
    <label for="char-sprite-picker">Sprite</label>
    <select name="char-sprite-picker" [(ngModel)]="charSpriteId" (ngModelChange)="onCharSpriteChange($event)">
      <option *ngFor="let sprite of sprites" value="{{ sprite.id }}">{{ sprite.name }}</option>
    </select>
    <button (click)="charSpriteModuleName = charSpriteModuleName.replace(' ', '_')">spaces &rarr; _s</button>
    <button (click)="charSpriteModuleName = charSpriteModuleName.replace(' ', '')">delete spaces</button>
  </form>

  <pre>module {{ charSpriteModuleName }} (
    input clk,
    input reset,
    input inner_graphics,
    input [10:0] hcount,
    input [9:0] vcount,
    input [10:0] x,
    input [9:0] y,
    output reg [11:0] pixel
    );

    always @(posedge clk) begin
{{ getSpriteVerilog(charSpritePixels, 8, 8) }}
    end
endmodule</pre>
</div>