<h1>Sprite Maker</h1>

<button disabled id="selected-color-display" [style.background-color]="selectedColor" class="input-color-button color-button"></button>
<div class="selected-color">
  <input type="text" [(ngModel)]="selectedColor"/>
</div>
<button class="black-color-button color-button" (click)="selectedColor = '#000'"></button>
<button class="yellow-color-button color-button" (click)="selectedColor = '#FF0'"></button>

<table>
  <tr *ngFor="let x of edgeCount">
    <td *ngFor="let y of edgeCount" [style.background-color]="pixelColors[x * EDGE + y]" (dragover)="setPixelColor(x,y)" (click)="setPixelColor(x,y)" (drag)="setPixelColor(x,y)"></td>
  </tr>
</table>

<pre>
{{getVerilog()}}
</pre>